<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HelloController</display-name>
    <servlet-name>HelloController</servlet-name>
    <servlet-class>vn.hcmute.controllers.HelloController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloController</servlet-name>
    <url-pattern>/HelloController</url-pattern>
  </servlet-mapping>
  <display-name>thanhsang</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>helloServlet</display-name>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>vn.hcmute.controllers.helloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/helloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloForm</display-name>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>vn.hcmute.controllers.HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadCookie</display-name>
    <servlet-name>ReadCookie</servlet-name>
    <servlet-class>vn.hcmute.controllers.ReadCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookie</servlet-name>
    <url-pattern>/ReadCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCookie</display-name>
    <servlet-name>DeleteCookie</servlet-name>
    <servlet-class>vn.hcmute.controllers.DeleteCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCookie</servlet-name>
    <url-pattern>/DeleteCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>vn.hcmute.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>vn.hcmute.controllers.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletSession</display-name>
    <servlet-name>LoginServletSession</servlet-name>
    <servlet-class>vn.hcmute.controllers.LoginServletSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletSession</servlet-name>
    <url-pattern>/LoginServletSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServletSession</display-name>
    <servlet-name>ProfileServletSession</servlet-name>
    <servlet-class>vn.hcmute.controllers.ProfileServletSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServletSession</servlet-name>
    <url-pattern>/ProfileServletSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServletSession</display-name>
    <servlet-name>LogoutServletSession</servlet-name>
    <servlet-class>vn.hcmute.controllers.LogoutServletSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServletSession</servlet-name>
    <url-pattern>/LogoutServletSession</url-pattern>
  </servlet-mapping>
</web-app>